@media (max-width: 1200px) {
	.publications {
		gap: 30px;
		&__image {
			margin-right: 20px;
			width: 44%;
		}
	}

	.publications__item_small {
		width: 31.2%;
		.publications__image {
			width: 100%;
		}
		.publications__info-box-wrapper {
			margin-right: 5px;
			&:last-child {
				margin-right: 0;
			}
		}
		.publications__info-box {
			justify-content: space-between;
		}
		.info-box {
			padding: 10px 8px;
		}
	}

	h2 {
		font-size: 30px;
	}

	.publications__item_small .publications__title {
		font-size: 24px;
	}
}

@media (max-width: 1024px) {
	.page {
		margin-top: 80px;
	}
	h1 {
		font-size: 46px;
	}

	h2 {
		font-size: 22px;
	}

	.publications {
		gap: 20px;
		padding: 10px;
		&__tags ul {
			flex-wrap: wrap;
			li {
				margin-bottom: 4px;
			}
		}
	}

	.publications__item_small {
		.publications__title {
			font-size: 20px;
		}
		.publications__info-box {
			flex-wrap: wrap;
		}
		.publications__info-box-wrapper {
			margin-bottom: 6px;
		}
	}
	.editors-choice {
		padding-bottom: 80px;
		.swiper-wrapper {
			gap: 30px;
		}
		.publications__item_small {
			min-height: 494px;
		}
	}
}

/* ТИПОГРАФИКА */
@media (max-width: 767px) {
	h1 {
		font-weight: 800;
		font-size: 34px;
		text-transform: uppercase;
	}

	h2 {
		font-weight: 700;
		font-size: 28px;
		line-height: 105%;
	}

	h3 {
		font-weight: 700;
		font-size: 28px;
		line-height: 105%;
	}

	h4 {
		font-weight: 600;
		font-size: 18px;
		line-height: 105%;
	}

	.article h3 {
		font-weight: 600;
		font-size: 18px;
		line-height: 133%;
	}

	.text-article {
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
	}

	.text-article-bold {
		font-weight: 500;
		font-size: 16px;
		line-height: 150%;
	}

	.quote {
		font-style: italic;
		font-weight: 500;
		font-size: 16px;
		line-height: 150%;
	}
}

@media (max-width: 767px) {
	.author-info {
		img {
			margin-right: 20px;
			width: 87px;
			height: 87px;
		}
		&__wrapper {
			display: flex;
			flex-direction: column;
		}
		&__title {
			margin-bottom: 0;
		}
		&__text {
			order: -1;
			margin-bottom: 8px;
		}
	}

	.publications {
		gap: 40px;
		margin-bottom: 90px;
		&__item {
			flex-direction: column;
			padding: 0 0 10px 0;
			align-items: normal;
		}
		&__image {
			margin-right: 0;
			width: 100%;
			margin-bottom: 20px;
		}

		&__item-wrapper {
			padding: 0 20px;
		}
		&__info-box-wrapper {
			margin-right: 10px;
		}
		&__info-box {
			justify-content: flex-start;
		}

		.publications__item_small {
			width: 100%;

			.publications__info-box-wrapper {
				gap: 10px;
			}
			.publications__info-box {
				justify-content: flex-start;
			}
		}
	}

	.editors-choice {
		&__title {
			font-size: 34px;
		}
		.publications__info-box {
			justify-content: flex-start;
		}
	}
}

@media (max-width: 380px) {
	.tag {
		font-size: 10px;
	}
	.author-info img {
		margin-right: 10px;
		width: 77px;
		height: 77px;
	}
	h1 {
		font-size: 30px;
	}
    h2 {
        font-size: 22px;
    }
    .publications__info-box {
        flex-wrap: wrap;
    }
    .publications__info-box-wrapper {
        margin-bottom: px;
    }
} 
