/* Ч/Б */
$black: #202226;
$dark-grey: #595959;
$gray2: #adadad;
$background: #f4f2f3;

/* Основные цвета */
$dark-branded: #002270;
$branded: #0C50E9;
$blue1: #8CA9EA;
$blue-background: #A8BFF6; 
$blue-header: #C3D1F1;
$light-blue: #E0EAFF;
$quote-background: #F1F5FF;

/* Доп цвета */
$yellow: #F8E71C;